{% extends 'base.html.twig' %}

{% block title %}CAS - Take'A'Vet{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('auth/index.css') }}">
{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <form class="login-form" method="post" action="{{ app.request.queryString ? '?' ~ app.request.queryString : '' }}">
                <h1 class="text-center">Connexion</h1>
                <p class="text-center">Connectez-vous pour accéder à votre espace personnel.</p>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3 text-center">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout', {
                            redirect: app.request.query.get('redirect', null)
                        }) }}">Déconnexion</a>
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="email" class="form-label w-100">
                        Email
                        <input type="email" name="email" value="{{ last_username }}" class="form-control" id="email" autocomplete="username" required autofocus/>
                    </label>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label w-100">
                        Mot de passe
                        <input type="password" name="password" class="form-control" id="password" autocomplete="current-password"/>
                    </label>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-dog"></i> Se connecter</button>
                    <a class="btn btn-primary" href="{{ path('app_register', {
                        redirect: app.request.query.get('redirect', null)
                    }) }}"><i class="fa-solid fa-cat"></i> S'inscrire</a>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </form>
        </div>
    </div>
{% endblock %}
